<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lucky.share.mapper.NoticeMapper">
    <resultMap id="noticeResult" type="com.lucky.share.domain.Notice">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!--取最新的一条-->
    <select id="getNotice" resultMap="noticeResult">
        SELECT * FROM tb_notice ORDER BY create_time DESC limit 0,1
    </select>
</mapper>